<h2>Language Studio</h2>
<div class = "welcome-banner">
    <p>Click "Dictionary" to search.<br> <br><b>Register/Log in to make langauge learning not boring anymore!</b></p>
</div>
<%= button_to 'Dictionary', searches_path, method: "get", class: "big-button" %>