<h2>Your Own Learning Space</h2>
<b>Welcome, <%= @user.username %>.</b>
<div class = 'home-button' >
    <%= button_to 'Dictionary', searches_path, method: "get" %>
    <%= button_to 'See My Words', words_path, method: "get" %>
</div>